html {
  background-color : black !important;
}
body {
  background-color : black !important;
}
#container {
  background-color : black !important;
}
#comic_body {
  background-color : black !important;
}
.content {
  background-color : black !important;
}
.comic_header {
    display : none !important;
}
