#didomi-host {
  display : none !important;
}
body.didomi-popup-open {
  overflow : scroll !important;
}
body.body-domuser-fr {
  overflow : scroll !important;
  overflow-x : scroll !important;
  overflow-y : scroll !important;
}
