div.top-ads-container, .top-ads-container, #mixed-content-footer, .wds-global-footer, #WikiaBar, .page__right-rail, .side-bt-container, .notifications-placeholder, .page-footer, .bottom-ads-container, .gpt-ad, .ad-slot-placeholder, .incontent-leaderboard, .ad-slot-placeholder.incontent-leaderboard.is-loading, .global-registration-buttons, #incontent_player, .ac-lre-player, .ac-player-wrapper, .ac-floated-player, #featured-video__player-container, .featured-video-player-container, .isNotScrollPlayer, #google_image_div, .top_leaderboard-odyssey-wrapper, .global-footer, .inconttent_leaderboard {
  display : none !important;
  visibility : hidden !important;
  height : 0px !important;
  min-height : 0px !important;
  max-height : 0px !important;
  padding-top : 0px !important;
  padding-bottom : 0px !important;
}
.community-header-wrapper {
  height : initial !important;
}

