.top-ads-container, #mixed-content-footer, .wds-global-footer, #WikiaBar, .page__right-rail, .side-bt-container, .notifications-placeholder, .page-footer, .bottom-ads-container, .gpt-ad, .ad-slot-placeholder, .incontent-leaderboard {
  display : none !important;
  visibility : hidden !important;
  height : 0px !important;
  padding-top : 0px !important;
  padding-bottom : 0px !important;
}
.community-header-wrapper {
  height : initial !important;
}
