.vm-skin-left-ads-container, .vm-skin-right-ads-container, #comicright, #logo, #boardleader, .mobilehide, .cc-commentheader, .cc-commentbody, #midleader {
    display : none !important;
    visibility : hidden !important;
    opacity : 0 !important;
}
#extracomic, #aftercomic {
    display : block !important;
    visibility : visible !important;
    opacity : 1 !important;
}
