html body {
    background-color : #272727 !important;
}
#leftCol {
    color : white !important;
}
#contentCol {
    background-color : #272727 !important;
}
/* Header */
div[role="search"], div[role="tab"] {
    background-color : #000000 !important;
}
div[role="search"] form button {
    background-color : #000000 !important;
}
.uiContextualLayer div, ._3ubp, ._3ubp > span, ._4-u8, ._57d8, ._sg1 {
    background-color : black !important;
    border-color : #404040 !important;
    color : white !important;
}
.uiContextualLayer > div {
    border : 1px solid;
}
#facebar_typeahead_view_list li.selected {
    background-color : #303030 !important;
}
/* Box on the right */
#rightCol div div div div {
    background-color : black !important;
    border-color : #404040 !important;
}
/* Menu on the left */
.fbxWelcomeBox a, .fbxWelcomeBoxSmall a,
.navHeader, .sectionDragHandle, .subitem, ._bui .subitem, span, .imgWrap, .linkWrap,
#pinnedNav, #groupsNav {
    color : #C0C0C0 !important;
}
._50f3 {
    color : #C0C0C0 !important;
}
._5afe::after {
    background-color : #000000 !important;
    border : 1px solid #303030 !important;
}
.fbxWelcomeBoxRow:hover, .fbxWelcomeBoxSmallRow:hover, .sortableItem:hover, ._5afe:hover {
    background-color : #404040 !important;
}
._2jq5, ._26tg {
    border-top-color : #303030 !important;
    border-bottom-color : #303030 !important;
    border-left-color : #303030 !important;
    border-right-color : #303030 !important;
}
/* chat list */
#u_0_s { /* right bar while loading */
    background-color : black !important;
    box-shadow : 1px 0 0 #101010 !important;
    border-color : #404040 !important;
}
.fbChatSidebar, .fbChatTab, .fbNubButton, .fbNub {
    background-color : black !important;
    color : white !important;
    border-color : #606060 !important;
    outline-color : black !important;
    box-shadow : 1px 0 0 #101010 !important;
    background-image : none !important;
}
._55ln {
    color : white !important;
    box-shadow: 1px 0 0 #101010 !important;
}
._55ln:focus, ._55ln:hover {
    background-color : #404040 !important;
    box-shadow : 1px 0 0 #101010 !important;
}
._55oc {
    color : #DFDFDF !important;
}
.fbChatTypeahead, ._1frb { /* search box */
    background-color : #202020 !important;
    color : white !important;
}
.fbChatTypeahead label, .fbChatTypeahead input, .fbChatTypeahead span {
    background-color : transparent !important;
    color : white !important;
}
::-webkit-input-placeholder {
    color : #DFDFDF !important;
}
/* chat window */
.scrollable {
    background-color : #black !important;
    color : white !important;
}
.conversation {
}
/* feed ticker */
.fwb {
    color : #DFDFDF !important;
}
a.tickerStoryLink {
    color : #CCCCCC !important;
}
.scrollable .uiScrollableAreaBody .uiScrollableAreaContent .ticker_stream .tickerActivityStories .fbFeedTickerStory:hover {
    background-color : #404040 !important;
    border-color : #606060 !important;
    box-shadow : 1px 0 0 #101010 !important;
}
.scrollable .uiScrollableAreaBody .uiScrollableAreaContent .ticker_stream .tickerActivityStories .fbFeedTickerStory .fbFeedTickerBorder {
    border-color : #404040 !important;
}
.fbSidebarGripper {
    border-color : #606060 !important;
}
/* status box */
.focus_target {
    background-color : black !important;
    border-color : #404040 !important;
}
.composerAudienceWrapper div div a {
    background-color : #303030 !important;
    background-image: none !important;
    border-color : #404040 !important;
}
.composerAudienceWrapper div div a span {
    text-shadow : 0 1px 0 #101010 !important;
}
#feedx_container div div {
    border-color : #404040 !important;
}
/* fbpurity elements */
#fbpurityinfobar {
    background-color : transparent !important;
    color : #707070 !important;
}
/* stream */
.mbm, .mbl { /* mbm : a single card in the stream ; .mbl : "loading" banner */
    background-color : #000000 !important;
    color : #CFCFCF !important;
    border-color : #404040 !important;
}
.mtm, .mtm div, .mbs a, .mbs div, .mtm .mtm p, .mbl div, .mbm div, .mbm div div {
    background-image : none !important;
    background-color : transparent !important;
    color : #CFCFCF !important;
    border-color : #404040 !important;
}
.userContentWrapper div span span button, .userContentWrapper div span span button i, .mtm button { /* "like page" button */
    background-image : none !important;
    background-color : #303030 !important;
    border-color : #404040 !important;
    color : #CCCCCC !important;
    text-shadow : 0 1px 0 #101010 !important;
}
a[role="button"] {
    background-color : transparent !important;
}
._ipp div a span, ._ipo {
    background-color : black !important;
    color : #CCCCCC !important;
}
.UFIList div, .UFIContainer, .UFIInputContainer div input {
    background-color : black !important;
    color : white !important;
    border-color : #404040 !important;
}
.UFICommentAttachmentButtons div, .UFICommentAttachmentButtons a {
    background-color : #303030 !important;
    border-color : none !important;
}
._5mxv, form div {
    border-color : #404040 !important;
}
/* 3 popups top of screen */
.uiHeader, .anchorContainer a, .uiScrollableAreaContent ul li, .seeMore, .toggleTargetClosed, #fbNotificationsFlyout, .messagesContent, .uiToggleFlyout {
    background-color : #202020 !important;
    border-color : #606060 !important;
    color : white !important;
    box-shadow : 1px 0 0 #101010 !important;
}
.uiHeaderTitle a, .uiHeaderTitle {
    color : white !important;
}
.uiHeaderActions a {
    color : #7F7FFF !important;
}
.jewelItemNew {
    background-color : #404040 !important;
    color : white !important;
}
/* Personal page feed */
.fbTimelineCapsule {
    background-color : #202020 !important;
}
.fbTimelineTwoColumn div, #profile_intro_card_bio div div div a {
    background-color : black !important;
    border-color : #606060 !important;
}

/* Chat window */
.titlebarText span {
    color : white !important;
}
.fbNubFlyoutTitlebar {
    background-color : #606060 !important;
}
.fbNubFlyoutFooter, .fbNubFlyoutBody {
    background-color : black !important;
    color : white !important;
}
/* Their chat balloon */
._5w1r {
    background-color : #202020 !important;
}
/* Our chat balloon */
._d97 {
    background-color : #303030 !important;
}
/* Scrollbars */
::-webkit-scrollbar {
    background-color : #101010 !important;
}
::-webkit-scrollbar-thumb {
    background-color : #404040 !important;
}

/* Photo comments */
.photoUfiContainer div {
    background-color : black !important;
    color : white !important;
}

/* Details page headers */
.fbTimelineSection, .fbTimelineTopSection {
    background-color : #303030 !important;
    color : white !important;
}
.back, .uiButtonGroup {
    background-color : black !important;
}
a[data-tab-key] {
    color : white !important;
}

/* Details page */
._3cz, #pagelet_timeline_medley_photos {
    background-color : #101010 !important;
}
._3c- a {
    color : white !important;
}
