/* Indicator of which server is currently shown, on the left side */
span[class^='item_'] {
  background-color : #7F7F7F !important;
}
/* Remove the discovery and download icons which are essentially ads */
div[class^="listItem"]:has(div[aria-label*="Télécharger"]),
div[class^="listItem"]:has(div[aria-label*="Découvrir"])
{
  display : none !important;
}

/* Remove the top bar which takes space and displays no useful information */
div[class^="bar"]:has(div[class^="title"]) {
  display : none !important;
  height : 0px !important;
}
.visual-refresh {
  --custom-app-top-bar-height : 0px !important;
}

/* Reduce the uselessly giant margin at the bottom */
div[class^="channelTextArea"] {
  margin-bottom : 10px !important;
}

/* Remove the useless "Events" and "boosts" items at the top of the channels */
li > div[class^="containerDefault"] {
  display : none !important;
}
/* ...and the additional useless vertical space */
ul > div[style^="height"], div[class^="sectionDivider"] {
  display : none !important;
}

/* Remove the useless icons at the right of the text box */
div[aria-label*="cadeau"], div[aria-label*="GIF"], div[aria-label*="autocollant"], button[aria-label*="Applications"] {
  display : none !important;
}
