/* General body fixes */
.widget-pane-content {
    background-color : #0F0F0F !important;
}

.omnibox-singlebox-root, div.suggestions {
    -webkit-filter : invert(100%);
}

/* Left panel */
div[role="region"] {
    -webkit-filter : invert(100%);
}
/* Schedule explorer */
#calendar {
    -webkit-filter : invert(100%);
}
/* Date and time picker */
.goog-menu, .goog-date-picker {
    -webkit-filter : invert(100%);
}
/* Hamburger menu */
div.widget-settings-pane {
    -webkit-filter : invert(100%);
}


/* Deinvert stuff */
div.section-hero-header /* Header for place with large image */
,button.section-image-pack-button /* Photos of the place */
,div.section-related-place-image /* Photos of related places */
,.blue-button-text, .blue-link /* Action buttons in blue */
,div.section-directions-action-icon /* Send to phone icon */
,span.renderable-component /* Line names in directions */
,div.section-directions-options /* Options in directions like when to leave */
,div.section-header /* Header for the photo gallery */
,div.gallery-image-highlight, div.gallery-image-high-res /* Photo gallery for a place */
{
    -webkit-filter : invert(100%);
}
