/* General body fixes */
.widget-pane-content {
    background-color : #0F0F0F !important;
}
#searchbox {
    background-color : black !important;
}
#searchbox-hamburger, .suggest-icon-container, #searchbox-searchbutton {
    -webkit-filter : invert(100%);
}
.suggest-query, .suggest-bold {
    color : white !important;
}
.sbib_b::after {
    -webkit-filter : invert(100%);
}
.suggest:hover {
    background-color : black !important;
}

/* Directions */
.widget-pane-section-directions-trip div, .widget-pane-section-directions-trip span, .widget-pane-section-directions-trip,
.section-directions-trip div, .section-directions-trip span, .section-directions-trip,
h1 {
    color : white !important;
}
/* Left panel */
.section-info-text, .widget-pane-link, .section-subheader-large-text, .section-facts, .section-hotel-price-summary, .section-line-group-summary, .section-line-group-summary-lines, .section-transit-station-footer, .section-quote, .section-event-date, .section-event-name, .section-result-title, .section-result-hotel-price, .section-filters-filter-title, .section-hotel-prices-view-label, .section-hotel-prices-partner-nightly-rate-text, .wiget-pane-date-picker-label,
h2 {
    color : white !important;
}
.widget-pane-content, #loading-pane-div, .loading-pane, .widget-pane, .widget-pane-content-disabled, .widget-pane-offscreen,
.section-filters {
    background-color : black !important;
}
.screen-mode .section-result:hover, .screen-mode .section-result:focus {
    background-color : #303030 !important;
}
/* Travel mode icon in results */
div[role="img"] {
    -webkit-filter : invert(100%);
}
