#pc-br-nc-gim, .op-player, .pc-br-300x250-gim, .MapLayout_0426 {
    display : none !important;
    visibility : hidden !important;
}
.vm-skin {
    width : 0px !important;
    height : 0px !important;
}
