div[id*=message_container] {
  display : none !important;
  height : 0px !important;
  opacity : 0 !important;
}
*[class*="RightRail"] {
  display : none !important;
}
*[data-coreads-cover-content], *[data-coreads-cover-banner] {
  display : none !important;
}
*[class*=OutbrainWrapper], *[class*=CardTitle], *[class*=CardTitle] + div {
  display : none !important;
}
body > div > div > main > div {
  overflow : scroll !important;
  height : 90vh;
}
