ytd-compact-video-renderer, .ytp-suggestion-set, .ytp-ce-covering-overlay, .ytp-ce-element, .player-ads {
    display : none !important;
}
.video-ads .image-container, .video-ads .attribution-button, .video-ads .close-button {
    display : none !important;
}
a[href*="trending"], a[href*="purchases"] {
    min-height : 0 !important;
    display : none !important;
}
ytd-guide-entry-renderer {
    min-height : initial !important;
}
