/* Fond des images et couleur du texte des boutons */
html body, c-wiz, c-wiz > c-wiz + div, div[jsshadow] {
    background-color : #202020 !important;
    color : white !important;
}
/* Small popups at the top right, and comment bubble at the bottom right */
div.glKPyb, div.RunE3b {
    background-color : black !important;
    color : white !important;
}
/* Placeholders */
a.p137Zd {
    background-color : black !important;
    color : white !important;
}
div[role="menubar"], c-wiz[role="main"] {
    background-color : #303030 !important;
    color : white !important;
}
/* Search box */
c-wiz div[role="menubar"] div[data-initial-search-value], div[role="navigation"] {
    background-color : black !important;
    color : white !important;
}
/* Popup menu */
div[style*="position: absolute"], content.z80M1 {
    background-color : black !important;
    background-image : none !important;
    color : white !important;
}
/* Menu selected item */
.wDSX5e, .ixImeb {
    background-color : #303030 !important;
}
/* Menu selected item (hover) */
.DOAbib:hover {
    background-color : #404040 !important;
}
div[style*="position: absolute"] div {
    color : white !important;
}
content.FwR7Pc {
    background-color : #404040 !important;
}
/* ? */
c-wiz div {
    color : white !important;
}
/* Label des popups */
.UE0Rp {
    color : white !important;
}
c-wiz div[style*="height"] {
    background-color : #202020 !important;
    color : white !important;
}
a[title="Google apps"], svg.JUQOtc, .gb_qc {
    -webkit-filter : invert(100%);
}
/* Boutons dans la barre de menu */
div[role="button"].mUbCce, div[role="button"].JRtysb {
    background-color : #DFDFDF !important;
    -webkit-filter : invert(100%);
}
/* Fond des curseurs pour les années */
div.HrGXnb, div.KALWyc, div.bButFf {
    background-color : rgba(0, 0, 0, 0.7);
}
div.Q77Pt, div.gN5aAe, textarea, dl > div > div[role="button"] {
    background-color : #202020 !important;
    color : white !important;
}
a[title="Google apps"], div > dt > svg, .gb_qc {
    -webkit-filter : invert(100%);
}
/* Pixel diviseur en haut */
.QtDoYb {
    border-bottom-color : black !important;
}
/* Large séparateur blanc disgrâcieux pendant le chargement */
.O1Wnce {
    border-top-color : rgba(0, 0, 0, 0) !important;
}
