/* Remove the ad for google one */
span:has(> div > div[jsaction]) {
  display : none !important;
}

/* Hide the "spaces" misfeature */
div[data-section-type="2"],
/* Hide the "applications" ad */
div[data-section-type="9"] {
  display : none !important;
}

/* Hide AI ad */
div[jscontroller]:has(button[aria-label*="Gemini"]) {
  display : none !important;
}

/* Hide ads to buy stuff from Google */
div[data-title*="￥"] {
  display : none !important;
}

/* Remove the persistent ad for their paid storage */
div.s1rbBe {
  display : none !important;
}
